body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  margin: 100px;
}

h2 {
  color: #333333;
  font-size: 18px;
  margin: 0;
}

h3 {
  font-size: 16px;
  margin: 0;
}

i {
  position: absolute;
  text-align: left;
  font-size: 20px;
  color: #828282;
  margin: 20px;
}

label {
  font-size: 12px;
  color: #4F4F4F;
}

input[placeholder="Enter your email.."],
input[placeholder="Enter your phone.."],
input[placeholder="Enter your full name.."],
input[placeholder="Your address.."],
input[placeholder="Your city.."],
input[placeholder="Your country.."],
input[placeholder="Your postal code.."] {
  padding-left: 50px;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

input {
  border-color: #828282;
  border-width: 1px;
  border-radius: 12px;
  width: 465px;
  height: 56px;
  font-size: 16px;
  color: #828282;
}

button {
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  border: 1px;
  background-color: #F2994A;
  float: right;
  width: 160px;
  height: 50px;
  border-radius: 10px;
  border-color: #F2994A;
}

img {
  width: 120px;
  border-radius: 10px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

hr {
  color: #BDBDBD;
  height: 0;
  border: solid 1px;
}

.container {
  display: flex;
}


.contact-input, .shipping-input, .contact-form {
  margin-top: 20px;
}

.heading {
  margin-bottom: 50px;
}

.header {
  font-size: 36px;
  color: #4E5150;
}

.shipping-form {
  margin-top: 50px;
}

.short-input {
  display: flex;
}

.short {
  width: 190px;
}

.right {
  margin-left: 30px;
}

.datalist-arrow {
  position: relative;
}

.datalist-arrow:after {
  border: solid 1px;
  border-radius: 5px;
  content: '\25bc';
  position: absolute;
  right: 9px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 35px;
  height: 35px;
  line-height: 40px;
  font-size: 1.5em;
  color: #828282;
  text-align: center;
  background: #E0E0E0;
  pointer-events: none;
}

.save-info {
  padding-left: 10px;
  margin-top: 20px;
}

.checkbox {
  padding: 0;
  margin: 0;
  width: 10px;
  height: 10px;
}

.check-label {
  margin-left: 10px;
}

.bottom-container {
  margin-top: 150px;
}

.footer {
  text-align: center;
}

.payment-form {
  background-color: #F2F2F2;
  margin-top: 50px;
  margin-left: 100px;
  width: 383px;
  height: 535px;
  border-radius: 10px;
}

.items {
  display: flex;
  margin: 30px;
  align-items: flex-start;
}

.item-content {
  margin-left: 20px;
}

.price {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.quanity {
  margin-top: 20px;
  width: 130px;
  height: 52px;
  text-align: center;
}

.minus {
  position: absolute;
  border-radius: 5px;
  display: block;
  position: absolute;
  left: 66.5%;
  top: 51%;
  width: 21px;
  height: 21px;
  background-color: #E0E0E0;
}

.plus {
  border-radius: 5px;
  display: block;
  position: absolute;
  right: 25%;
  top: 51%;
  width: 21px;
  height: 21px;
  background-color: #E0E0E0;
}

.minus-bottom {
  position: absolute;
  border-radius: 5px;
  display: block;
  position: absolute;
  left: 66.5%;
  top: 74.5%;
  width: 21px;
  height: 21px;
  background-color: #E0E0E0;
}

.plus-bottom {
  border-radius: 5px;
  display: block;
  position: absolute;
  right: 25%;
  top: 74.5%;
  width: 21px;
  height: 21px;
  background-color: #E0E0E0;
}

.total {
  margin: 95px 30px 0 30px;
}

.cost {
  display: flex;
  margin: 20px 0;
}

.cost-txt {
  margin-left: 217px
}

@media only screen and (max-width: 375px) {
  body {
    margin: 10px;
  }

  input {
    width: 300px;
    height: 40px;
  }

  input[placeholder="Enter your email.."],
  input[placeholder="Enter your phone.."],
  input[placeholder="Enter your full name.."],
  input[placeholder="Your address.."],
  input[placeholder="Your city.."]{
    padding-left: 40px;
  }

  input[placeholder="Your country.."],
  input[placeholder="Your postal code.."] {
    padding-left: 30px;
  }

  i {
    font-size: 15px;
    margin: 15px 15px 15px 10px;
  }

  .container {
    flex-direction: column-reverse;
  }

  .payment-form {
    margin-left: 0;
    width: 350px;
    height: 558px;
  }

  .short {
    width: 135px;
  }

  .right {
    margin-left: 10px;
  }

  .datalist-arrow:after {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 1em;
  }
  .cost-txt {
    margin-left: 187px
  }

.contact-form {
    margin-top: 40px;
  }
  .minus {
    left: 54%;
    top: 39.5%;
  }

  .plus {
    right: 22%;
    top: 39.5%;
  }
  .minus-bottom {
    left: 54%;
    top: 62.5%;
  }

  .plus-bottom {
    right: 22%;
    top: 62.5%;
  }
}
